<ul ng-controller="DocsNavCtrl">

  <!-- ### Getting Started ### -->
  <li class="{% if page.category == 'getting-started' %}
             active{% endif %}">
    <a ng-click="showGettingStarted = !showGettingStarted">Getting Started</a>
    <ul ng-show="showGettingStarted"
        {% if page.category == 'getting-started' %}
          ng-init="showGettingStarted = true"
        {% endif %}>
      <li class="{% if page.id == 'welcome' %}active{% endif %}">
        <a href="/docs/v2/">Welcome</a>
      </li>
      <li class="{% if page.id == 'installation' %}active{% endif %}">
        <a href="/docs/v2/getting-started/installation">Installation</a>
      </li>
      <li class="{% if page.id == 'concepts' %}active{% endif %}">
        <a href="/docs/v2/getting&#45;started/concepts">Concepts</a>
      </li>
      <li class="{% if page.id == 'tutorial' %}active{% endif %}">
        <a href="/docs/v2/getting-started/tutorial">Tutorial</a>
      </li>
      <li class="{% if page.id == 'migration' %}active{% endif %}">
        <a href="/docs/v2/getting-started/migration">Migration</a>
      </li>
<!--       <li class="{% if page.id == 'about-ionic' %}active{% endif %}">
        <a href="/docs/v2/getting-started/about-ionic">About Ionic</a>
      </li> -->
    </ul>
  </li>

  <!-- ### Components ### -->
  <li id="components-index"
      class="{% if page.category == 'components' %}active{% endif %}">
    <a ng-click="showComponents = !showComponents">Components</a>
    <ul class="nav"
        ng-show="showComponents"
       {% if page.category == 'components' %}
         ng-init="showComponents = true"
       {% endif %}>
      {% if page.category != 'components' %}
        {% assign components_link = '/docs/v2/components/' %}
      {% endif %}
      <li><a href="{{components_link}}#overview">Overview</a></li>
      <li><a href="{{components_link}}#action-sheets">Action Sheets</a></li>
      <li><a href="{{components_link}}#badges">Badges</a></li>

      <li id="components-buttons"><a href="{{components_link}}#buttons">Buttons</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#outline-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#clear-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#round-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#block-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#full-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#button-sizes"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#icon-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#floating-action-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#buttons-in-components"></a></li>
        </ul>

      <li id="components-cards"><a href="{{components_link}}#cards">Cards</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#card-header"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-image"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-background"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#advanced-cards"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-social"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-map"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-weather"></a></li>
        </ul>

      <li><a href="{{components_link}}#checkbox">Checkbox</a></li>

      <li><a href="{{components_link}}#grid">Grid</a></li>
      <li><a href="{{components_link}}#icons">Icons</a></li>

      <li id="components-forms"><a href="{{components_link}}#inputs">Inputs</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#fixed-inline-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#floating-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inline-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inset-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#placeholder-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#stacked-labels"></a></li>
        </ul>

      <li id="components-lists"><a href="{{components_link}}#lists">Lists</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#list-lines"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-no-lines"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inset-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-headers"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#icon-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#avatar-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#thumbnail-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#multiline-list"></a></li>
        </ul>


      <li><a href="{{components_link}}#menus">Menus</a></li>
      <li><a href="{{components_link}}#modals">Modals</a></li>
      <li><a href="{{components_link}}#modes">Modes</a></li>
      <li><a href="{{components_link}}#navigation">Navigation</a></li>
      <li><a href="{{components_link}}#popups">Popups</a></li>
      <li><a href="{{components_link}}#radio">Radio</a></li>
      <li><a href="{{components_link}}#range">Range</a></li>
      <li><a href="{{components_link}}#searchbar">Searchbar</a></li>
      <li><a href="{{components_link}}#segment">Segment</a></li>
      <li><a href="{{components_link}}#select">Select</a></li>
      <li><a href="{{components_link}}#slides">Slides</a></li>
      <li><a href="{{components_link}}#switch">Switch</a></li>

      <li><a href="{{components_link}}#tabs">Tabs</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-icon"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-icon-text"></a></li>
        </ul>


    </ul>
  </li>

  <!-- ### Platform ### -->
  <li class="{% if page.category == 'platform' %}active{% endif %}">
    <a ng-click="showPlatform = !showPlatform">Platform</a>
    <ul ng-show="showPlatform"
        {% if page.category == 'platform' %}
          ng-init="showPlatform = true"
        {% endif %}>
      <!--
      <li><a href="/docs/v2/platform/applinks/">App Links</a></li>
      <li><a href="/docs/v2/platform/barcode/">Barcode</a></li>
      <li><a href="/docs/v2/platform/battery/">Battery</a></li>
      <li><a href="/docs/v2/platform/camera/">Camera</a></li>
      <li><a href="/docs/v2/platform/contacts/">Contacts</a></li>
      <li><a href="/docs/v2/platform/device/">Device</a></li>
      <li><a href="/docs/v2/platform/device-motion/">Device Motion</a></li>
      <li><a href="/docs/v2/platform/device-orientation/">Device Orientation</a></li>
      <li><a href="/docs/v2/platform/dialogs/">Dialogs</a></li>
      <li><a href="/docs/v2/platform/geolocation/">Geolocation</a></li>
      <li><a href="/docs/v2/platform/keyboard/">Keyboard</a></li>
      <li><a href="/docs/v2/platform/statusbar/">Status Bar</a></li>
      <li><a href="/docs/v2/platform/storage/">Storage</a></li>
      <li><a href="/docs/v2/platform/vibration/">Vibration</a></li>
      -->
      <li><a href="/docs/v2/platform/storage/">Storage</a></li>
    </ul>
  </li>

  <!-- ### Theming ### -->
  <li class="{% if page.category == 'theming' %}active{% endif %}">
    <a ng-click="showTheming = !showTheming">Theming</a>
    <ul ng-show="showTheming"
        {% if page.category == 'theming' %}
          ng-init="showTheming = true"
        {% endif %}>
      <li class="{% if page.id == 'theming-intro' %}active{% endif %}">
        <a href="/docs/v2/theming/">Intro</a>
      </li>
      <li class="{% if page.id == 'theming-your-app' %}active{% endif %}">
        <a href="/docs/v2/theming/theming-your-app/">Theming your App</a>
      </li>
      <li class="{% if page.id == 'sass-variables' %}active{% endif %}">
        <a href="/docs/v2/theming/sass-variables/">Sass Variables</a>
      </li>
      <li class="{% if page.id == 'platform-specific-styles' %}active
                 {% endif %}">
        <a href="/docs/v2/theming/platform-specific-styles/">
          Platform Styles
        </a>
      </li>
      <li class="{% if page.id == 'overriding-ionic-variables' %}active
                {% endif %}">
        <a href="/docs/v2/theming/overriding-ionic-variables/">
          Overriding Ionic Variables
        </a>
      </li>
    </ul>
  </li>

  <!-- ### FAQ ### -->
  <li class="{% if page.category == 'faq' %}active{% endif %}">
    <a href="/docs/v2/faq/">FAQ</a>
  </li>

  <!-- ### API ### -->
  <li>
    <a href="/docs/v2/api">API</a>
  </li>

  <!-- ### Resources ### -->
  <li class="{% if page.category == 'resources' %}active{% endif %}">
    <a ng-click="showResources = !showResources">Resources</a>
    <ul ng-show="showResources"
        {% if page.category == 'resources' %}
          ng-init="showResources = true"
        {% endif %}>
      <li class="{% if page.id == 'resources-intro' %}active{% endif %}">
        <a href="/docs/v2/resources/">Resources Intro</a>
      </li>
      <li class="{% if page.id == 'developer-tips' %}active{% endif %}">
        <a href="/docs/v2/resources/developer-tips/">Developer Tips</a>
      </li>
      <li class="{% if page.id == 'what-is' %}active{% endif %}">
        <a href="/docs/v2/resources/what-is/">Glossary</a>
      </li>
      <li class="{% if page.id == 'ionicons' %}active{% endif %}">
        <a href="/docs/v2/resources/ionicons/">Ionicons</a>
      </li>
      <li class="{% if page.id == 'editors_and_ides' %}active{% endif %}">
        <a href="/docs/v2/resources/editors_and_ides/">Editors and IDEs</a>
      </li>
      <li class="{% if page.id == 'using_npm' %}active{% endif %}">
        <a href="/docs/v2/resources/using-npm/">Using NPM</a>
      </li>
    </ul>
  </li>
</ul>
