body {
  font-family: $font-family-default;
  position: relative;
  background: linear-gradient(90deg, $whiteish, $whiteish ($sidenav-width + 5), white ($sidenav-width + 5), white 100%);

  @media (max-width: $screen-xs-max) {
    width: 100%;
    min-width: 100%;
    background: #fff;
    padding-top: 50px;
  }
}

#components-index ul.nav > li > a {
  background-color: #F9FAFB;
}

.improve-docs {
  position: absolute;
  right: 3.5em;
  top: 20px;
}

.improve-component-docs {
  display: block;
  margin-top: -3.9em;
  float: right;
}

.component-doc-demo {
  display: block;
  margin-top: -3.1em;
  float: right;
}

.docs-container {
  .side-nav {
    width: $sidenav-width;
    padding-top: 73px;
  }

  > main {
    margin-left: $sidenav-width;
  }

  > aside {
    width: $platform-preview-width;

    + main {
      margin-right: $platform-preview-width;
    }
  }

  @media (max-width: $screen-sm-max) {
    aside {
      display: none;

      & + main {
        margin-right: 0;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    background-color: #fff;

    main {
      margin-left: 0;
      padding: 30px 20px;
    }

    #side-nav {
      padding-top: 0;
      top: 50px;
      z-index: 1;
      transform: translateX(-$sidenav-width);
      transition: transform .3s ease;

      &.shown {
        transform: translateX(0);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.navbar-default {
  background: linear-gradient(to right, #3071da, #4888f1);
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  position: relative;
  z-index: 10;

  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-brand {
    padding: 22px 0 0 20px;

    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
    }

    img {
      width: 140px;
    }
  }

  .navbar-nav > li {
    > a {
      padding: 27px 15px;
      transition: .2s color;
      border-top: 3px solid transparent;

      @media (max-width: $screen-sm-max) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 15px;
        border: none;
      }
    }

    &.active > a {
      border-top-color: white;
    }
  }

  .dropdown {
    .dropdown-menu {
      display: block;
      visibility: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .3s ease, opacity .3s;
    }

    &.open .dropdown-menu {
      visibility: 1;
      opacity: 1;
      transform: scaleY(1);
    }
  }

  .navbar-form {
    margin: 22px 0 0 100px;

    @media (max-width: $screen-sm-max) {
      margin-left: 25px;
    }

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
    }

    .form-group {
      position: relative;
      padding-left: 15px;

      input {
        background: transparent;
        box-shadow: none;
        border: none;
        color: white;
        font-size: 14px;

        &::-webkit-input-placeholder {
          color: lighten($blue, 15);
        }

        &:-moz-placeholder {
          color: lighten($blue, 15);
        }

        &::-moz-placeholder {
          color: lighten($blue, 15);
        }

        &:-ms-input-placeholder {
          color: lighten($blue, 15);
        }
      }

      &:before {
        font-family: "Ionicons";
        -webkit-font-smoothing: antialiased;
        content: "\f4a5";
        font-size: 18px;
        font-weight: 800;
        color: lighten($blue, 15);
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }

  .navbar-toggle,
  .sidebar-toggle {
    border: none;
    position: relative;
    background: transparent;

    i {
      position: absolute;
      font-size: 27px;
      top: -3px;
      color: $navbar-default-link-color;
      transition: color .3s, transform .3s, opacity .3s;
    }

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      outline: none;

      i {
        color: white;
        transform: scale(1.05);
      }
    }

    .ion-md-close {
      opacity: 0;
    }

    &.active {
      i {
        transform: rotate(90deg);
      }

      i:not(.ion-md-close) {
        opacity: 0;
      }

      .ion-md-close {
        transform: rotate(90deg);
        opacity: 1;
      }
    }
  }

  .sidebar-toggle {
    float: left;
    margin: 8px 10px 0;
    display: none;

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
}

.side-nav {
  position: fixed;
  background: $whiteish;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  overflow-y: -moz-scrollbars-none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }

  .back-to-main {
    a {
      padding-top: 5px;
      border: 1px solid #e6e9ee;
      padding: 10px 12px 13px;
      margin-right: 20px;
      margin-top: -15px;
      border-radius: 4px;
      margin-bottom: 10px;
      text-align: center;
      transition: .2s border-color, .2s color, .2s background, .2s box-shadow;

      &:before {
        font-family: "Ionicons";
        -webkit-font-smoothing: antialiased;
        content: "\f3cf";
        font-size: 16px;
        font-weight: 800;
        position: relative;
        padding-right: 5px;
        top: 2px;
      }

      &:hover {
        border-color: $blue;
        color: $blue;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        background: #fdfdfd;
      }

      &:focus:after {
        border-right-color: transparent;
      }
    }
  }

  .form-group {
    position: relative;
    border-bottom: 1px solid $light-grey;
    min-height: 76px;

    &.search {
      padding: 22px 20px 20px;
      margin-bottom: 0;

      &:hover:before {
        color: #a4abb5;
      }

      &:before {
        font-family: "Ionicons";
        content: "\f4a5";
        font-size: 20px;
        font-weight: 800;
        color: #a4abb5;
        position: absolute;
        top: 25px;
        left: 34px;
        transition: .2s color;
      }

      input {
        border: 1px solid $light-grey;
        border-radius: 20px;
        padding: 15px 0 13px 35px;
        font-size: 14px;
        box-shadow: none;
        transition: .2s border-color, .2s box-shadow;

        &:focus {
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
          border-color: $blue;
        }
      }
    }

    select {
      padding: 17px 20px 17px;
      display: block;
      width: 100%;
      background: none;
      border-radius: 0;
      border: none;
      outline: none;
      color: $grey;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: .2s border-color, .2s color, .2s background, .2s box-shadow;

      &:hover {
        border-color: $blue;
        color: $blue;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        background: #fdfdfd;
      }
    }

    &:hover {
      transition: .2s border-color;

      &:before {
        color: $blue;
      }
    }

    &.api-select:before {
      font-family: "Ionicons";
      -webkit-font-smoothing: antialiased;
      content: "\f3d0";
      font-size: 14px;
      font-weight: 800;
      color: #a4abb5;
      position: absolute;
      top: 17px;
      right: 20px;
      transition: .2s color;
    }
  }

  ul {
    list-style: none;
    padding: 18px 0 20px 20px;

    a {
      color: $grey;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      text-decoration: none;
      display: block;
      padding: 10px 0;
      position: relative;
      cursor: pointer;

      &:after {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        content: '';
        border-right: 2px solid $blue;
        transform: scaleY(0.0001);
        transition: transform .08s ease-in-out;
      }
    }

    ul .active > a,
    a:hover {
      color: $blue;
      text-decoration: none;
      background: none;
    }

    ul .active > a:after,
    a:focus:after {
      transform: scaleY(1);
      outline: none;
    }

    ul, .capitalize {
      padding: 0;
      opacity: 1;

      a {
        color: $blackish;
        text-transform: none;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0;
        height: 34px;
        transition: height cubic-bezier(0.36, 0.66, 0.04, 1) 0.4s, padding cubic-bezier(0.36, 0.66, 0.04, 1) 0.4s, color 0.2s;
      }

      &.ng-hide-add,
      &.ng-hide-remove {
        transition: opacity cubic-bezier(0.36, 0.66, 0.04, 1) 0.4s;
      }

      &.ng-hide {
        opacity: 0;

        a {
          padding: 0;
          height: 0;
        }
      }
    }
  }
}

.docs-container {
  main {
    padding: 50px 40px;
    position: relative;

    h1, h2, h3, h4, h5 {
      color: $blacker;
      line-height: 1.4em;
      margin: 2em 0 1em;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: -0.01em;

      &:first-child {
        margin-top: 0;
      }
    }

    h1 {
      margin-bottom: 0;
    }

    h2 {
      padding: 2em 0 0em;
      font-size: 24px;
    }

    h2.section-header {
      border-top: 1px solid #F0F3F7;
      margin-top: 5.6em;
    }

    h3 {
      margin: 3.2em 0 0em;
      font-size: 18px;
    }

    h3.no-para {
      margin-bottom: 1em;
    }

    p {
      color: $blackish;
      line-height: 1.9em;
      margin: 1.2em 0 1.6em;
      font-weight: 400;
      font-size: 14px;
    }

    pre {
      border: 1px solid $light-grey;
      background: white;
      padding: 16px;
      line-height: 24px;
    }

    a:not(.btn) {
      color: $blue;
      text-decoration: none;
      transition: .2s color;

      &:hover {
        color: lighten($blue, 15);
      }
    }

    b,
    strong {
      font-weight: 500;
      color: #26292e;
    }

    .nav {
      a {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.platform-preview {
  position: absolute;
  right: 0;
  text-align: center;

  &.fixey {
    position: fixed;
    top: 0;
  }

  .platform-toggle {
    padding: 8px 10px 4px;

    a {
      cursor: pointer;
      display: inline-block;
      padding: 4px 16px 2px;
      border-radius: 5px;
      color: $grey;
      font-size: 14px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      transition: .2s color, .2s background-color;

      &.active,
      &.active:hover {
        background-color: $blue;
        color: white;
      }

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}

#demo-device-ios {
  width: $platform-preview-width;
  height: 800px;
  background: center top no-repeat url(/img/device-preview-ios.jpg);
  background-size: $platform-preview-width;
  margin: 0 auto;

  iframe {
    margin-top: 85px;
    width: 320px;
    height: 568px;
  }
}

#demo-device-android {
  @extend #demo-device-ios;

  background-image: url(/img/device-preview-android.jpg);

  iframe {
    margin-top: 64px;
    width: 360px;
    height: 590px;
  }
}

li.nav-item-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

ul.docs-content {
  list-style: none;
  line-height: 26px;
  padding-left: 16px;

  li.docs-content-header {
    font-weight: 400;
    color: #B9BEC5;
  }

  li.docs-content-item {}
}

ul.docs-example {
  list-style: none;
  display: block;
  margin: 3em 0;
  padding: 0;
  border-radius: 4px;

  li {
    display: inline-block;
    border: 1px solid #e6e9ee;
    width: 32%;
    margin: 0;
    padding: 8% 0;

    @media screen and (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }

    &:not(:first-child) {
      margin-left: 1%;
    }
  }

  li img {
    display: block;
    margin: 0 auto;
    width: 55.7%;
  }
}

.highlight .err {
  background-color: #fff;
}

