<h2 id="badges" class="section-header">Badges</h2>

<a class="improve-component-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/badges.html">
  Improve This Doc
</a>

Badges are small components that typically communicate a numerical value to the user. They are typically used within an item.

<h3 class="section-nav">Basic Usage</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/badge/basic">
  View Demo Source
</a>

```html
<ion-item>
  <icon ion-social-twitter item-left></icon>
  Followers
  <ion-badge item-right>260k</ion-badge>
</ion-item>
```

Badges can also be given any color attribute:

```html
<ion-badge secondary></ion-badge>
```
