<h2 id="cards" class="section-header">Cards</h2>

<a class="improve-component-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/cards.html">
  Improve This Doc
</a>

<p>
  Cards are a great way to display important pieces of content, and are quickly emerging as a core design pattern for apps. They're are a great way to contain and organize information, while also setting up predictable expectations for the user. With so much content to display at once, and often so little screen realestate, cards have fast become the design pattern of choice for many companies, including the likes of <a href="http://www.google.com/landing/now/" target="_blank">Google</a>, <a href="https://dev.twitter.com/docs/cards" target="_blank">Twitter</a>, and <a href="https://play.spotify.com/discover" target="_blank">Spotify</a>.
</p>
<p>
  For mobile experiences, Cards make it easy to display the same information visually across many different screen sizes. They allow for more control, are flexible, and can even be animated. Cards are usually placed on top of one another, but they can also be used like a "page" and swiped between, left and right.
</p>


<ul class="docs-content">
  <li class="docs-content-header">Contents</li>
  <li class="docs-content-item"><a href="#cards">Basic Cards</a></li>
  <li class="docs-content-item"><a href="#card-header">Card Headers</a></li>
  <li class="docs-content-item"><a href="#card-list">Card Lists</a></li>
  <li class="docs-content-item"><a href="#card-image">Card Images</a></li>
  <li class="docs-content-item"><a href="#card-background">Background Images</a></li>
  <li class="docs-content-item"><a href="#advanced-cards">Advanced Cards</a></li>
</ul>

<h3 class="no-para">Basic Usage:</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/basic">
  View Demo Source
</a>

Cards are primarily a CSS component. To use add a basic card, follow this structure:

```html
<ion-card>

  <ion-card-header>
    Card Header
  </ion-card-header>

  <ion-card-content>
    <!-- Add card content here! -->
  </ion-card-content>

</ion-card>
```

<h3 class="section-nav" id="card-header">Card Headers</h3>
Just like a normal page, cards can be customized to include headers. To add use add a card header, add the `<ion-card-header>` component inside of your card:

```html
<ion-card>
  <ion-card-header>
    Header
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
</ion-card>
```



<h3 class="section-nav" id="card-list">Lists In Cards</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/list">
  View Demo Source
</a>

A card can contain a list of items. To create a card list, add elements with the `ion-item` attribute inside of your card:

```html
<ion-card>
  <ion-card-header>
    Explore Nearby
  </ion-card-header>
  <a href="#" ion-item>
    <icon cart item-left></icon>
    Shopping
  </a>
  <a href="#" ion-item>
    <icon medical item-left></icon>
    Hospital
  </a>
</ion-card>
```


<h3 class="section-nav" id="card-image">Images In Cards</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/image">
  View Demo Source
</a>

Images often vary in size, so it is important that they adopt a consistent style throughout your app. Images can easily be added to cards. Adding an image to a card will give the image a constant width, and a variable height. Lists, headers, and other card components can easily be combined with image cards. To add an image to a card, use the following markup:

```html
<ion-card>
  <img src="img/nin-live.png"/>
  <ion-card-content>
    <h2 class="card-title">
      Nine Inch Nails Live
    </h2>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card>
```

<h3 class="section-nav" id="card-background">Background Images</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/background">
  View Demo Source
</a>

*Coming soon.*


<h2 id="advanced-cards" class="section-header">Advanced Cards</h2>

The styles from different types of cards can be combined to create advanced cards. Cards can also receive custom CSS. Below are a few advanced cards that have been built by combining various card attributes with a small amount of custom CSS.


<ul class="docs-content">
  <li class="docs-content-header">Contents</li>
  <li class="docs-content-item"><a href="#card-advanced-social">Social Cards</a></li>
  <li class="docs-content-item"><a href="#card-advanced-map">Map Cards</a></li>
  <li class="docs-content-item"><a href="#card-advanced-weather">Weather Cards</a></li>
</ul>

<h3 class="section-nav" id="card-advanced-social">Social Cards</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/advanced-social">
  View Demo Source
</a>

*Coming soon.*

<h3 class="section-nav" id="card-advanced-map">Map Cards</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/advanced-map">
  View Demo Source
</a>

*Coming soon.*

<h3 class="section-nav" id="card-advanced-weather">Weather Cards</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/cards/advanced-weather">
  View Demo Source
</a>

*Coming soon.*
