<h2 id="checkbox" class="section-header">Checkbox</h2>

<a class="improve-component-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/checkbox.html">
  Improve This Doc
</a>

A checkbox is an input component that holds a *boolean* value. Checkboxes are no different than HTML checkbox inputs. However, like other Ionic components, checkboxes are styled differently on each platform. Use the `checked` attribute to set the default value, and the `disabled` attribute to disable the user from changing the value.

<h3 class="no-para">Basic Usage</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/inputs/checkbox">
  View Demo Source
</a>

```html
<ion-checkbox dark checked="true">
  Daenerys Targaryen
</ion-checkbox>

<ion-checkbox disabled="true">
  Arya Stark
</ion-checkbox>
```
