<h2 id="modals" class="section-header">Modals</h2>

<a class="improve-component-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/modals.html">
  Improve This Doc
</a>

Modals slide in off screen to display a temporary UI, often used for login or signup pages,
message composition, and option selection.

<h3 class="section-nav">Basic Usage</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/modals/basic">
  View Demo Source
</a>

First, we need to add the `<ion-overlay>` component to our root `app.html` template. This only needs to be done once, no matter how many modal pages our app contains:

```html
<ion-overlay></ion-overlay>
```

Next, we need to create the class that will control our modal. Let's import `Modal`:

```typescript
import {Modal} from 'ionic/ionic';
```

Next, let's create our modal and define add its template:

```typescript
@Page({
  template: `
  <ion-content padding>
    <h2>I'm a modal!</h2>
    <button (click)="close()">Close</button>
  </ion-content>`
})
class MyModal {
  constructor() {
  }
}
```


Finally, let's add the code that will open our Modal:

```typescript
class MyPage {
  constructor(modal: Modal){
    this.modal = modal;
  }
  showModal() {
    this.modal.open(MyModal);
  }
}
```

The `modal.open()` function can also receive an object as the second argument that will be passed to the modal. See the [Modal API docs](/docs/v2/api/components/modal/Modal/) for more information.
