<h2 id="range" class="section-header">Range</h2>

<a class="improve-component-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/range.html">
  Improve This Doc
</a>

*Coming soon.*
