<h2 id="slides" class="section-header">Slides</h2>

<a class="improve-component-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/slides.html">
  Improve This Doc
</a>

Slides make it easy to create galleries, tutorials, and page-based layouts.

<h3 class="section-nav">Basic Usage</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/slides/basic">
  View Demo Source
</a>

```html
<ion-slides pager loop="true" autoplay="true">

  <ion-slide style="background-color: green">
    <h2>Slide 1</h2>
  </ion-slide>

  <ion-slide style="background-color: blue">
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide>

</ion-slides>
```

Slides take a number of configuration options on the `<ion-slides>` element, such as `loop` and `autoplay`. Check out the [Slides API reference](../api/components/slides/Slides/) for more information on configuring slides.
